<!-- MAKE A GRAPH HERE, I'VE JUST MADE A TEST PIECHART... WE NEED A LINE/BAR graph for y = clicks, x = day -->
{% extends 'adtool/base.html' %}
{% load static %}

{% block stylesheet %}
<style>
  .chartdiv {
    overflow-y: scroll;
    height: 520px;
  }
</style>
{% endblock stylesheet %}

{% block content %}
<h2 class="text-center">Dashboard</h2>


<div class="card border-dark text-white lg-12">
    <div class="card-header bg-dark text-center">Advertisement v/s Clicks</div>
    <div class="card-body">
      <div class="chartdiv">
      <canvas id="myChart" height="320px"></canvas>
    </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  // This stores the django template variables of this page
  var ads = "{{ ads|escapejs }}";
  var alog_click_count = "{{ alog_click_count|escapejs }}";
  var alog_view_count = "{{ alog_view_count|escapejs }}";
  alog_click_count = JSON.parse(alog_click_count)
  alog_view_count = JSON.parse(alog_view_count)
  ads = JSON.parse(ads);
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script-->
<script src="{% static 'adtool/js/clicks_chart.js' %}"></script>
{% endblock javascript %}